* {
    margin: 0;
    padding: 0;
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.Every {
    position: fixed;
    width: calc(100vw - 16px);
    height: 4rem;
    text-align: center;
    z-index: 3;
}

.topBtn{
    position: fixed;
    right: 50px;
    /* bottom: 200px; */
    width: 80px;
    height: 80px;
    z-index: 2;
}

.logo {
    display: inline-block;
    background: url(../../public/image/logo.png) center/100% 100% no-repeat;
    text-indent: -9999em;
    width: 10rem;
    align-content: center;
    height: 7rem;
    z-index: 3;
}

.noPosition {
    color: black !important;
    position: inherit !important;
}

.noPosition .logo {
    position: absolute;
    left: calc(50% - 80px);
}

.smallThing {
    background-color: white;
    transition-duration: .5s;
    height: 3rem;
}

.smallThing .logo {
    width: 8rem;
    height: 5rem;
    transition-duration: .5s;
}

.isLoginPage {
    display: none;
}