.h_main_container {
    display: flex;
    transition-duration: 1s;
}

.h_menu_container, .h_right_container {
    display: flex;
}

.h_menu {
    cursor: pointer;
    padding: 10px;
}

.detailMenu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
}

.detailMenu a {
    padding: 5px 0;
}

.detailMenu.show {
    display: flex;
}

.h_right a {
    margin: 0 10px;
}

.h_search {
    cursor: pointer;
}