.intersectionImageContainer {
    display: flex;
    overflow: hidden;
    height: 50vh;
}

.verticalImage {
    transition: all 1s;
    width: 45vh;
    height: 45vh;
    opacity: 0;
    transform: translateY(20px);
}

.intersectionImageList {
    width: 45vh;
    margin: 2.5vh;
    box-sizing: border-box;
    border-radius: 100%;
    height: 45vh;
    overflow: hidden;
}

.scaleUp {
    scale: 1.1;
}

.verticalImage.show {
    opacity: 1;
    transform: translateY(0);
}