.main_container>.slide_container img {
    width: calc(100vw - 16px);
    width: 100vw;
    height: 100vh;
    top: 0;
    position: relative;
}

.main_container {
    overflow: hidden;
    /* position: relative; */
}

.slide_container {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.slide_container li {
    list-style: none;
    top: 0;
    position: absolute;
}

.slide_container li img {
    transition: transform 1s ease-in-out;

}

.nonVisible {
    display: none;
}

.main_container button {
    border: none;

    /* position: absolute; */
    /* top: 50%; */

    opacity: .2;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    background: none;
}

.main_container button:hover {
    opacity: 1;
}

