.item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 16px;
    padding: 20px;
}

.item-choose {
    display: grid;
    grid-area: 1/1/6/2;
    text-align: left;
    gap: 10px;
}

.item-size-100 {
    width: 100px;
    height: 10px;

}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    margin-bottom: 10px;
}

.filter-section div {
    margin-bottom: 5px;
}

.item-choose label {
    margin-right: 10px;
}

.item-choose input {
    margin-right: 5px;
}

.item-choose button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}