.item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 20px;
}

.itemcard {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
}

.itemcard > * {
    width: calc((100% - 3 * 16px) / 4); 
}

.item-choose {
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    text-align: left;
    gap: 10px;
}
.item-size-200 {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 50px;
    font-size: 1.5em;
}
.item-size-150 {
    width: 150px;
    height: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.filter-section {
    margin-bottom: 20px;
    transition: max-height 1s ease-out;
    max-height: 2000px;
    overflow: hidden;
}

.filter-section.open {
    max-height: 0;
    margin-bottom: 0;
}

.filter-section h3 {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.filter-section h3 .toggle-section {
    position: absolute;
    right: 0;
    font-weight: bold;
    user-select: none;
    transition: transform 1s ease;
}
.filter-section.closed h3 .toggle-section {
    transform: rotate(-90deg);
}

.filter-section div {
    margin-bottom: 5px;
}

.item-choose label {
    margin-right: 10px;
}

.item-choose input {
    margin-right: 5px;
}

.item-choose button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
