.cscContainer {
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: auto;
}

.CscBtnMenu {
    display: flex;
}

.CscMenu {
    display: flex;
}

.CscListTitle {
    display: flex;
}