.CscInquiryListTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.InquiryWriteBtn {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.InquiryWriteBtn>a {
    border: 1px solid red;
    border-radius: 5px;
    color: black;
    background-color: red;
}