.footer_top {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
    width: 100%; /* Updated to use full width */
    height: 10vh;
}

.footer_top a {
    font-size: 3vh;
}

.footer_bottom {
    width: 100%; 
    background-color: #222;
    color: #666565;
    display: flex;
    flex-wrap: wrap; 
    height: auto; 
    padding: 10px; 
    justify-content: space-between;
    overflow: hidden; 
    box-sizing: border-box; 
}

.footer_bottom .footer_p {
    box-sizing: border-box;
    font: inherit;
    text-align: left;
    font-size: 1vw;
    flex: 1 1 30%;
    margin: 0; 
    word-break: break-word;
}

.footer_bottom p {
    text-align: right;
    margin: 0; 
    flex: 1 1 30%; 
    font-size: 1vw;
    word-break: break-word; 
}

.footer_bottom .img {
    height: 4vw;
    margin: 1vw 3vw; 
    flex: 0 1 auto; 
}

.footer div a {
    /* color: rgb(253, 252, 252); */
    /* background-color: #333; */
    text-decoration: none;
    margin: 1vh 1vh;
}

.footer nav a:hover {
    text-decoration: underline;
}
