.footer_top {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
    width: calc(100vw-16px);
    height: 10vh;
}
.footer_top a{
    font-size: 3vh;
}

.footer_bottom {
    width: calc(100vw-16px);

    background-color: #222;
    color: #666565;
    display: flex;
    height: 35vh;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    
    /* font-size: 2vh; */
}

.footer_bottom .footer_p {
    box-sizing: border-box;
    font: inherit;
    display: flex;
    text-align: left;
    margin-right: 50vh;
    
    
}
p{
    text-align: right;
    margin-right: 4vw;
    
}


.footer_bottom p {
    display: flex;
    font-size: px;


}


.footer_bottom .img {   /*이미지 크기 및 위치설정    */
    height: 9vh;
    width: 22vh;
    margin-left: 5vh;
    margin-top: 3vh;
}

.footer div a {
    color: rgb(253, 252, 252);
    background-color: #333;
    text-decoration: none;
    margin: 1 1vh;
    /* margin-left: 12vh; */
}

.footer nav a:hover {
    text-decoration: underline;
}